@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(Imagenes/fondo_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.navegador{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0;
    position: fixed;
    z-index: 1;
}

.logo{
    margin: 0;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav ul li{
    margin: 5px;
    padding: 1px;
}

nav ul li a{
    font-family: "Nunito", sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 1.5rem 0 0;
    padding: 0 1rem 0 0;
}

.navbar a:hover{
    background-color: #db9600;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

.navbar label{
    cursor: pointer;
    display: none;
}

h1{
    font-family: "Urbanist", sans-serif;
}

h2{
    font-family: "Urbanist", sans-serif;
    padding: 5px;
}

h3{
    font-family: "Urbanist", sans-serif;
    text-align: center;
}

p{
    font-family: "Nunito", sans-serif;
    padding: 10px 0;
}

/*  fin --- .nav --- htmal */

.hero{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contenedor1{
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    height: 100vh;
}

.back-video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
    width: 100%;
    height: 100%;
}

.hero-text{
    position: absolute;
    font-family: "Urbanist", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 0;
}

.hero-text h1{
    font-size: 200px;
    margin-bottom: 1px;
}

.hero-text p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 52px;
}

.btn-hero a{
    font-family: "Nunito", sans-serif;
    display: inline-block;
    background-color: #db9600;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-hero a:hover{
    background-color: #fff;
    color: #000;
}

/*  fin --- .hero --- htmal */

.about{
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    margin: 5px 10px;
    padding: 30px;
}

.contenedor2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about-text{
    flex: 1;
    padding: 0 0 0 150px;
    min-width: 300px;
}

.about-imagen{
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.contenedor2 img{
    width: 300px;
    height: 375px;
    padding: 20px;
}

.btn{
    padding: 0 100px 0 0;
}

.btn a{
    color: #000;
    text-decoration: none;
    background-color: #db9600;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.btn a:hover{
    background-color: #fff;
}

/*  fin --- .about --- htmal */

