@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  padding-top: 100px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Urbanist", sans-serif;
}

h2 {
  font-family: "Urbanist", sans-serif;
  padding: 5px;
}

h3 {
  font-family: "Urbanist", sans-serif;
  text-align: center;
}

p {
  font-family: "Nunito", sans-serif;
  padding: 10px 0;
}

/*  inicio --- .nav --- html */

.navegador {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 100;
}

.logo {
  margin: 0;
  padding: 0 0 0 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.menu .menu-list {
  margin: 0 20px;
  padding: 0;
}

.menu .menu-list li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}

.menu .menu-list li a {
  text-decoration: none;
  color: #fff;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.menu .menu-list li a:hover {
  background-color: #db9600;
  transition: 0.3s;
  border-radius: 10px;
  color: #000;
  padding: 10px 15px;
}

/* --- fin --- .nav --- html */

/* inicio --- .hero --- html */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-contenedor {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  height: 100vh;
}

.back-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.hero-texto {
  position: absolute;
  font-family: "Urbanist", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 0;
}

.hero-texto h1 {
  font-size: 10vw;
  margin: 0;
}

.hero-texto p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5vw;
  margin: 20px 0;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  background-color: #db9600;
  color: #000;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  margin: 0 20px;
  border-radius: 10px;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
  transform: scale(1.2);
}

/*  fin --- .hero --- html */

/* inicio --- .about --- html */

.about {
  background-image: url("Imagenes/fondos/fondo_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}

.about-contenedor {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5em 10em;
  gap: 4rem;
}

article {
  width: 50%;
  text-align: center;
}

.btn-about a {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  background-color: #db9600;
  color: #000;
  font-weight: bold;
  max-width: 15rem;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-about a:hover {
  background-color: #fff;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* fin --- .about --- html */

/* inicio --- .portafolio --- html */

.portafolio {
  background-image: url("Imagenes/fondos/fondo_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.porta-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  padding-top: 40px;
}

.porta-texto {
  background-color: #000;
  color: #fff;
  padding: 30px;
  width: 50%;
  max-width: 700px;
  text-align: center;
  border-radius: 10px;
  margin: 1.5rem;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  padding: 2rem;
}

.galeria img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  transition: all 0.4s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}

/* -- flipcard -- */

.flip-card {
  width: 300px;
  height: 375px;
  cursor: pointer;
  position: relative;
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-inner {
  transform: rotateY(180deg);
}

.img-jars {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  object-fit: cover;
  z-index: 1;
}

.flip-card.flipped .img-jars {
  z-index: 0;
}

.flip-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #000;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.flip-card.flipped .flip-back {
  z-index: 1;
  opacity: 1;
}

/* -- Fin flipcard --*/

/* -- efecto 3D -- */

.img-jars {
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}

.img-jars:hover img {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.img-jars::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-25deg);
}

.img-jars:hover::after {
  left: 125%;
  transition: left 0.6s ease;
}

/* -- Fin efecto --*/

.btn-porta a {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  max-width: 15rem;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin: 1rem 0 3rem 0;
}

.btn-porta a:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
/* fin --- .portafolio --- html */

/* inicio --- .servicios --- html */

#services {
  scroll-margin-top: 100px;
}

.servicios {
  background-image: url("Imagenes/fondos/fondo_4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
  width: 100%;
}

.servicios-contenedor {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; /* para adaptarse en móviles */
}

.columna {
  flex: 1 1 45%;
  padding: 4rem;
}

.columna h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.columna p,
.columna ul {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.lista {
  font-family: "Nunito", sans-serif;
  padding-left: 1.2rem;
  list-style: disc;
}

.lista li {
  list-style: disc;
  margin-bottom: 0.6rem;
}

/*  fin --- .services --- html */

/*  inicio --- .contact --- html */

.contact {
  background-image: url(Imagenes/fondos/fondo_5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0.5rem;
  color: #000;
}

.contacto-contenedor {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.contacto-contenedor h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contacto-contenedor p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.btn-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.btn-contact a {
  font-family: "Nunito", sans-serif;
  background-color: #000;
  color: #ffffff;
  font-weight: bold;
  max-width: 8em;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-contact a:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/*  fin --- .contact --- html */

/*  inicio --- .footer --- html */

.footer-contenedor {
  background-color: #000;
  color: #fff;
}

.footer-text {
  text-align: center;
  font-size: 0.75rem;
  padding: 1rem;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.redes-sociales a svg {
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.redes-sociales a:hover svg {
  transform: scale(1.2);
}

/*  fin --- .footer --- html */

/* Mostrar/ocultar el menú en móviles */

.menu .menu-list {
  display: flex;
  gap: 1rem;
}

.menu .menu-list.active {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 1rem;
  border-radius: 10px;
  z-index: 10;
}

/* responsive */

/* Móviles (≤480px) */
@media screen and (max-width: 480px) {
  
  .menu .menu-list li a {
    font-size: 1rem;
  }

  .hero-texto h1 {
    font-size: 12vw;
  }

  .hero-texto p {
    font-size: 7vw;
  }

  .about {
    background-image: none;
    background-color: #000;
  }

  .about-contenedor,
  .about h2,
  .about p {
    color: #fff;
    text-align: center;
  }

  .about-contenedor {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }

  article {
    width: 100%;
  }

  .porta-texto,
  .columna {
    width: 90%;
  }

  .galeria {
    flex-direction: column;
    gap: 2rem;
  }

  .contacto-contenedor h2 {
    font-size: 1.8rem;
  }

  .btn {
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

/* Tablets (481px–768px) */
@media screen and (max-width: 768px) {
  .menu .menu-list {
    display: none;
  }

  .menu-toggle {
    display: block;
    font-size: 2rem;
    color: #db9600;
    cursor: pointer;
  }

  .hero-texto h1 {
    font-size: 9vw;
  }

  .about-contenedor {
    flex-direction: column;
    padding: 3rem;
  }

  .columna {
    flex: 1 1 100%;
    padding: 2rem 1rem;
  }

  .galeria {
    gap: 3rem;
  }

  .porta-texto {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .servicios {
    background-image: none;
    background-color: #fff;
  }

  .columna h2,
  .columna p,
  .columna ul,
  .columna li {
    color: #000;
  }
}

/* Laptops (769px–1024px) */
@media screen and (max-width: 1024px) {
  .menu .menu-list li a {
    font-size: 1.1rem;
  }

  .about-contenedor {
    padding: 4rem 3rem;
  }

  .porta-texto {
    width: 80%;
  }

  .columna {
    padding: 2rem;
  }
}

/* Pantallas muy grandes (≥1440px) */
@media screen and (min-width: 1440px) {
  .hero-texto h1 {
    font-size: 6rem;
  }

  .hero-texto p {
    font-size: 2rem;
  }

  .about-contenedor {
    padding: 5rem 12rem;
  }

  .porta-texto {
    width: 50%;
  }

  .columna {
    padding: 4rem 3rem;
  }

  .galeria {
    gap: 5rem;
  }
}
